.p-message-content {
    justify-content: center;
}

.p-inputtext {
    width: 100%;
}

/* Progress Bar */
.p-progressbar {
    &--thin {
        height: 6px;
    }
}

/* Select - Base Layout Reset */
.p-select,
.p-select-panel, .p-select-overlay {
    .p-select-label {
        overflow: visible !important;
    }
}

/* Small Variant Modifier */
.p-select--small {
    font-size: small !important;

    .p-select-label,
    .p-select-input {
        font-size: small !important;
        padding: 0.3rem 0 0.3rem 0.7rem !important;
    }

    .p-select-option {
        font-size: small !important;
    }
}

/* Panel & Overlay Layout Logic */
.p-select-panel, .p-select-overlay {
    width: max-content !important;
    min-width: 100%;
    z-index: 20000 !important;
        
    .p-select-option {
        white-space: nowrap !important;
    }
}

.p-fluid {
    .p-select {
        width: 100%;
    }
}

.p-fileupload-basic {
    justify-content: inherit;
}

/* Global element borders */
fieldset {
    border-color: var(--p-content-border-color) !important;
}
table.border-1 {
    border-color: var(--card-border) !important;
}
