<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>


    <li id="restart-container">
        <p-button (click)="restart()" id="restart" label="Restart" severity="primary"></p-button>
    </li>

    <li id="start-mining-container" style="margin-top: 10px;">
        <p-button (click)="callStartMining()" 
                  label="Enable Mining" 
                  icon="pi pi-play" 
                  severity="success"></p-button>
    </li>

    <li id="stop-mining-container" style="margin-top: 10px;">
        <p-button (click)="callStopMining()" 
                  label="Disable Mining" 
                  icon="pi pi-stop-circle" 
                  severity="warning"></p-button>
    </li>

</ul>