# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
/build
/dist
/.output
/.preact

# Environment variables
.env
.env.local
.env.development
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea
.vscode
*.swp
*.swo
.DS_Store
Thumbs.db

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
/coverage

# Misc
.cache
.netlify
.vercel
.turbo
.next
