<div class="card">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
      <h5>Color Scheme</h5>
      <div class="flex gap-3">
        <div class="flex items-center">
          <p-radioButton name="colorScheme" [value]="'dark'" [(ngModel)]="selectedScheme"
            (onClick)="changeColorScheme('dark')" inputId="dark"></p-radioButton>
          <label for="dark" class="ml-2 cursor-pointer">Dark</label>
        </div>
        <div class="flex items-center">
          <p-radioButton name="colorScheme" [value]="'light'" [(ngModel)]="selectedScheme"
            (onClick)="changeColorScheme('light')" inputId="light"></p-radioButton>
          <label for="light" class="ml-2 cursor-pointer">Light</label>
        </div>
      </div>
    </div>

    <div class="col-span-12 mt-4">
      <h5>Theme Colors</h5>
      <div class="flex justify-between w-full flex-wrap gap-2">
        <div *ngFor="let theme of themes" class="theme-color">
          <button pButton [class]="'p-button-rounded p-button-text color-dot'"
                  [style.backgroundColor]="theme.primaryColor"
                  style="width: 2.2rem; height: 2.2rem; border: none; border-radius: 9999px;"
                  (click)="changeTheme(theme)">
            <i *ngIf="theme.primaryColor === currentColor" class="pi pi-check selected-icon"></i>
          </button>
          <div class="text-sm mt-1">{{theme.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
